section#flex-wrap {
  width: 600px;
  background-color: hsl(0,0%,15%);
  margin: 35px auto;
}

.wrap-ball {
  height: 25px;
  width: 25px;
  background-color: brown;
  border-radius: 50%;
  text-align: center;
  color: white;
}

.wrap-box {
  border: 1px solid wheat;
  border-radius: 10px;
  width: 200px;
}

.flex-wrap {
  display: flex;
  gap: 25px;
  flex-wrap: nowrap;
}

.wrap-box {
  display: flex;
}

.wrap-box.i {
  flex-wrap: wrap;
}

.wrap-box.ii {
  flex-wrap: wrap-reverse;
}

.wrap-box.iii {
  flex-wrap: nowrap;
}