body {
    background-image: url(https://github.com/nilesh9836-medda/CSS_Codes/blob/main/assets/image/css_code_background.jpg?raw=true);
}

section h2 {
    color: aqua;
}
a {
    color: black;
}
a:hover {
    color: aqua;
}
