body {
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  font-family: sans-serif;
  padding: 20 px;
}

h1 {
  font-size: 40 px;
  margin-top: 0;
  margin-bottom: 15 px;
}

h2 {
  font-size: 30 px;
}

.established {
  font-style: italic;
}

h1, h2, p {
  text-align: center;
}

.menu {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20 px;
  max-width: 500 px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  height: 2 px;
  background-color: brown;
  border-color: brown;
}

.bottom-line {
  margin-top: 25 px;
}

h1, h2 {
  font-family: Impact, serif;
}

.item p {
  display: inline-block;
  margin-top: 5 px;
  margin-bottom: 5 px;
  font-size: 18 px;
}

.flavor, .dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}

/* FOOTER */

footer {
  font-size: 14 px;
}

address {
  font-style: normal;
}

.address {
  margin-bottom: 5 px;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
}
