section#flex-justify {
  margin: 50px auto;
  width: 90%;
  background-color: hsl(0,0%,15%);
  padding: 25px;
}

section#flex-justify > div {
  display: flex;
  margin: 25px 0;
  border: 1px solid wheat;
}

section#flex-justify .rgb-color {
  border: 1px solid black;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

section#flex-justify .red {
  background-color: red;
}

section#flex-justify .blue {
  background-color: steelblue;
}

section#flex-justify .green {
  background-color: seagreen;
}

.l1 {
  justify-content: flex-start;
}

.l2 {
  justify-content: flex-end;
}

.l3 {
  justify-content: center;
}

.l4 {
  justify-content: space-around;
}

.l5 {
  justify-content: space-between;
}

.l6 {
  justify-content: space-evenly;
}