
section.flex-align {
    margin: 50px auto;
    width: 90%;
    background-color: hsl(0,0%,15%);
}

.flex-align .ball {
    border: 1px solid black;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.ball.color1{
    background-color: hsl(60,100%,50%); 
}

.ball.color2 {
    background-color: hsl(180,100%,50%);
}

.ball.color3 {
    background-color: hsl(300,100%,50%);
}

.flex-align>div {
    width: 100%;
    height: 150px;
    display: flex;
}

.flex-align > .a1 {
    border-bottom: 1px solid wheat;
    align-items: end;
}

.flex-align > .a2 {
    border-bottom: 1px solid wheat;
    align-items: center;
    justify-content: center;
}

.flex-align > .a3 {
    border-bottom: 1px solid wheat;
    align-items: start;
}